# Import extreme weather events data from NOAA and execute exploratory data analysis
##### Data from NOAA *https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
url = 'https://www.ncei.noaa.gov/pub/data/swdi/stormevents/csvfiles/'
ext = 'gz'
def listFD(url, ext=''):
    page = requests.get(url).text
    soup = BeautifulSoup(page, 'html.parser')
    return [url + '/' + node.get('href') for node in soup.find_all('a') if node.get('href').endswith(ext)]
frames = []
for file in listFD(url, ext):
    if file.find('detail') > 0:
        df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')
        frames.append(df)
storm_data = pd.concat(frames)

C:\Users\Ryan\AppData\Local\Temp\ipykernel_17308\2924734939.py:13: DtypeWarning: Columns (26,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')
C:\Users\Ryan\AppData\Local\Temp\ipykernel_17308\2924734939.py:13: DtypeWarning: Columns (26,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')
C:\Users\Ryan\AppData\Local\Temp\ipykernel_17308\2924734939.py:13: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')
C:\Users\Ryan\AppData\Local\Temp\ipykernel_17308\2924734939.py:13: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')
C:\Users\Ryan\AppData\Local\Temp\ipykernel_17308\2924734939.py:13: DtypeWarning: Columns (29,34,35,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file, compression='gzip', header=0, sep=',', quotechar='"')

In [2]:
storm_data.shape

(1778844, 51)

In [3]:
storm_data.columns

Index(['BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH',
       'END_DAY', 'END_TIME', 'EPISODE_ID', 'EVENT_ID', 'STATE', 'STATE_FIPS',
       'YEAR', 'MONTH_NAME', 'EVENT_TYPE', 'CZ_TYPE', 'CZ_FIPS', 'CZ_NAME',
       'WFO', 'BEGIN_DATE_TIME', 'CZ_TIMEZONE', 'END_DATE_TIME',
       'INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
       'DEATHS_INDIRECT', 'DAMAGE_PROPERTY', 'DAMAGE_CROPS', 'SOURCE',
       'MAGNITUDE', 'MAGNITUDE_TYPE', 'FLOOD_CAUSE', 'CATEGORY', 'TOR_F_SCALE',
       'TOR_LENGTH', 'TOR_WIDTH', 'TOR_OTHER_WFO', 'TOR_OTHER_CZ_STATE',
       'TOR_OTHER_CZ_FIPS', 'TOR_OTHER_CZ_NAME', 'BEGIN_RANGE',
       'BEGIN_AZIMUTH', 'BEGIN_LOCATION', 'END_RANGE', 'END_AZIMUTH',
       'END_LOCATION', 'BEGIN_LAT', 'BEGIN_LON', 'END_LAT', 'END_LON',
       'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'DATA_SOURCE'],
      dtype='object')

##### Check content inside every column

In [4]:
storm_data[storm_data.columns[:15]].head(3)

,BEGIN_YEARMONTH,BEGIN_DAY,BEGIN_TIME,END_YEARMONTH,END_DAY,END_TIME,EPISODE_ID,EVENT_ID,STATE,STATE_FIPS,YEAR,MONTH_NAME,EVENT_TYPE,CZ_TYPE,CZ_FIPS
0,195004,28,1445,195004,28,1445,NaN,10096222,OKLAHOMA,40.0,1950,April,Tornado,C,149
1,195004,29,1530,195004,29,1530,NaN,10120412,TEXAS,48.0,1950,April,Tornado,C,93
2,195007,5,1800,195007,5,1800,NaN,10104927,PENNSYLVANIA,42.0,1950,July,Tornado,C,77

In [5]:
storm_data[storm_data.columns[15:30]].head(3)

,CZ_NAME,WFO,BEGIN_DATE_TIME,CZ_TIMEZONE,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY,DAMAGE_CROPS,SOURCE,MAGNITUDE,MAGNITUDE_TYPE,FLOOD_CAUSE
0,WASHITA,NaN,28-APR-50 14:45:00,CST,28-APR-50 14:45:00,0,0,0,0,250K,0,NaN,0.0,NaN,NaN
1,COMANCHE,NaN,29-APR-50 15:30:00,CST,29-APR-50 15:30:00,0,0,0,0,25K,0,NaN,0.0,NaN,NaN
2,LEHIGH,NaN,05-JUL-50 18:00:00,CST,05-JUL-50 18:00:00,2,0,0,0,25K,0,NaN,0.0,NaN,NaN

In [6]:
storm_data[storm_data.columns[30:52]].head(3)

,CATEGORY,TOR_F_SCALE,TOR_LENGTH,TOR_WIDTH,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_RANGE,BEGIN_AZIMUTH,...,END_RANGE,END_AZIMUTH,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON,EPISODE_NARRATIVE,EVENT_NARRATIVE,DATA_SOURCE
0,NaN,F3,3.4,400.0,NaN,NaN,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,35.12,-99.2,35.17,-99.20,NaN,NaN,PUB
1,NaN,F1,11.5,200.0,NaN,NaN,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,31.90,-98.6,31.73,-98.60,NaN,NaN,PUB
2,NaN,F2,12.9,33.0,NaN,NaN,NaN,NaN,0.0,NaN,...,0.0,NaN,NaN,40.58,-75.7,40.65,-75.47,NaN,NaN,PUB

#### Pick 8 columns out of 51 columns that contain information we need.
1. Time span: 2000~2021
2. Month name to numerical presented month for the sorting purpose

In [7]:
df_2000_2021 = storm_data[(storm_data.YEAR >= 2000) & (storm_data.YEAR < 2022)][['EVENT_ID', 'YEAR', 'MONTH_NAME','BEGIN_DAY' ,'BEGIN_TIME', 'END_TIME','STATE', 'EVENT_TYPE','INJURIES_DIRECT', 'INJURIES_INDIRECT', 'DEATHS_DIRECT',
                                                  								'DEATHS_INDIRECT', 'DAMAGE_PROPERTY']]
month = {
        'January':1,
		'February':2,
		'March':3,
		'April':4,
		'May':5,
		'June':6,
		'July':7,
		'August':8,
		'September':9,
		'October':10,
		'November':11,
		'December':12}

df_2000_2021.MONTH_NAME = df_2000_2021.MONTH_NAME.map(month)
df_2000_2021.head(5)

,EVENT_ID,YEAR,MONTH_NAME,BEGIN_DAY,BEGIN_TIME,END_TIME,STATE,EVENT_TYPE,INJURIES_DIRECT,INJURIES_INDIRECT,DEATHS_DIRECT,DEATHS_INDIRECT,DAMAGE_PROPERTY
0,5165377,2000,12,31,600,900,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
1,5165378,2000,12,31,600,900,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
2,5165379,2000,12,31,700,800,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
3,5165449,2000,12,13,2200,400,WEST VIRGINIA,Winter Storm,0,0,0,0,NaN
4,5172568,2000,8,3,1410,1410,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,2K

In [8]:
df_2000_2021 = df_2000_2021.rename(columns={'MONTH_NAME':'month','BEGIN_DAY':'day'})
df_2000_2021.columns = df_2000_2021.columns.str.lower()
df_2000_2021.head(3)

,event_id,year,month,day,begin_time,end_time,state,event_type,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property
0,5165377,2000,12,31,600,900,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
1,5165378,2000,12,31,600,900,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
2,5165379,2000,12,31,700,800,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN

In [9]:
df_2000_2021.shape

(1304860, 13)

Originally, we consider entries having different event_id and happened at the same time as duplicates. However, along with data exploration, we find out that owing to the reasons that we picked 8 out of 51 columns and a single event might be reported separately with different information so if we drop the duplicate entries, we may lose some important information. As a result, we decide to keep the duplicates.

In [54]:
#df_2000_2021 = df_2000_2021[~df_2000_2021[['year','month','day' ,'begin_time','end_time','event_type']].duplicated()]
#df_2000_2021.shape 
# about 500000 entries removed.

(891510, 13)

In [10]:
df_2000_2021 = df_2000_2021.drop(['begin_time', 'end_time'], axis='columns')

In [11]:
#set EVENT_ID as primary key
df_2000_2021.set_index("event_id", inplace = True)
df_2000_2021.head()

,year,month,day,state,event_type,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property
event_id,,,,,,,,,,
5165377,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
5165378,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
5165379,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,NaN
5165449,2000,12,13,WEST VIRGINIA,Winter Storm,0,0,0,0,NaN
5172568,2000,8,3,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,2K

Translate how damage_property show the number. From 2K to 2000 and adjust it by inflation rate. The inflation rate of 2000~2021 is 175% (According to U.S Bureau of Labor Statics).

In [12]:
#take 1.75 as inflation adjusted rate from 2000 to 2022 (According to U.S Bureau of Labor Statics)

import numpy as np

def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', ''))*1000*1.75
        return round(1000*1.75,1)
    if 'B' in x:
        if len(x) > 1:
            return float(x.replace('B', ''))*1000000000*1.75
        return round(1000000000*1.75,1)
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', ''))*10000*1.75
        return round(10000*1.75,1)

In [13]:
df_2000_2021.damage_property = df_2000_2021.damage_property.apply(value_to_float)
df_2000_2021.damage_property = df_2000_2021.damage_property.fillna(0)

In [14]:
df_2000_2021.head()

,year,month,day,state,event_type,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property
event_id,,,,,,,,,,
5165377,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0
5165378,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0
5165379,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0
5165449,2000,12,13,WEST VIRGINIA,Winter Storm,0,0,0,0,0.0
5172568,2000,8,3,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,3500.0

Add date column which has formate %Y-%m%d

In [15]:
df_2000_2021['date'] = pd.to_datetime(df_2000_2021.year.astype(str) + '-' + df_2000_2021.month.astype(str) + '-' + df_2000_2021.day.astype(str))
df_2000_2021.head(3)

,year,month,day,state,event_type,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,date
event_id,,,,,,,,,,,
5165377,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31
5165378,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31
5165379,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31

Remove events not in US

In [ ]:
# US states: #'FLORIDA', 'WEST VIRGINIA', 'MISSISSIPPI', 'MAINE', 'CONNECTICUT','GEORGIA', 'NORTH CAROLINA', 'ARIZONA', 'TEXAS', 'TENNESSEE', 'MARYLAND', 'NEW YORK', 'OREGON', 'NEW JERSEY', 'KANSAS', 'MICHIGAN', 'OKLAHOMA',
             #'PENNSYLVANIA', 'LOUISIANA', 'DELAWARE', 'CALIFORNIA', 'COLORADO', 'INDIANA', 'IOWA', 'ALASKA', 'MONTANA', 'OHIO', 'ILLINOIS', 'ARKANSAS', 'HAWAII', 'WASHINGTON', 'MINNESOTA', 'IDAHO', 'WYOMING', 'SOUTH DAKOTA', 'ALABAMA',
             #'VERMONT', 'NEW HAMPSHIRE', 'NORTH DAKOTA', 'MISSOURI', 'DISTRICT OF COLUMBIA', 'NEVADA', 'RHODE ISLAND', 'NEBRASKA', 'NEW MEXICO', 'UTAH', 'KENTUCKY', 'MASSACHUSETTS',, 'VIRGINIA', 'WISCONSIN', 'SOUTH CAROLINA'

# Not US states: # 'PUERTO RICO','AMERICAN SAMOA','GUAM', 'LAKE ERIE', 'LAKE HURON', 'GULF OF MEXICO','LAKE ST CLAIR', 'E PACIFIC', 'ATLANTIC SOUTH', 'HAWAII WATERS','LAKE MICHIGAN', 'ATLANTIC NORTH', 'LAKE ONTARIO', 'ST LAWRENCE R',
          # 'LAKE SUPERIOR''GULF OF ALASKA', 'VIRGIN ISLANDS', nan

In [16]:
df_2000_2021 = df_2000_2021[df_2000_2021.state.isin(['FLORIDA', 'WEST VIRGINIA', 'MISSISSIPPI', 'MAINE', 'CONNECTICUT',
                                                'GEORGIA', 'NORTH CAROLINA', 'ARIZONA', 'TEXAS', 'TENNESSEE',
                                                'MARYLAND', 'NEW YORK', 'OREGON', 'NEW JERSEY', 'KANSAS',
                                                'MICHIGAN', 'OKLAHOMA', 'SOUTH CAROLINA', 'VIRGINIA', 'WISCONSIN',
                                                'PENNSYLVANIA', 'LOUISIANA', 'DELAWARE', 'CALIFORNIA', 'COLORADO',
                                                'INDIANA', 'IOWA', 'ALASKA', 'MONTANA', 'OHIO', 'ILLINOIS',
                                                'ARKANSAS', 'HAWAII', 'WASHINGTON', 'MINNESOTA', 'IDAHO',
                                                'WYOMING', 'SOUTH DAKOTA', 'ALABAMA', 'KENTUCKY', 'MASSACHUSETTS',
                                                'VERMONT', 'NEW HAMPSHIRE', 'NORTH DAKOTA', 
                                                'MISSOURI', 'DISTRICT OF COLUMBIA', 'NEVADA',
                                                'RHODE ISLAND', 'NEBRASKA', 'NEW MEXICO', 'UTAH'])]

In [17]:
df_2000_2021.shape

(1259884, 11)

After discussion, we decided to group extreme weather events into servel groups and make it less distracted.

In [18]:
df_events_type = pd.read_csv('event_type.csv')
df_events_type.columns = df_events_type.columns.str.lower()
df_events_type

                    event_type  ev_type_grp possibly linked to climate
0            Thunderstorm Wind  Strong Wind                          x
1                  Flash Flood  Rain/Floods                          x
2                      Tornado      Tornado                          x
3                        Flood  Rain/Floods                          x
4                         Hail         Hail                          x
5                    Lightning    Lightning                          x
6                    High Wind  Strong Wind                          x
7                     Wildfire         Fire                          x
8                 Winter Storm       Winter                          x
9                  Strong Wind  Strong Wind                          x
10              Tropical Storm    Hurricane                          x
11                   Hurricane    Hurricane                          x
12                  Heavy Snow       Winter                          x
13                   Ice Storm       Winter                          x
14                  Heavy Rain  Rain/Floods                          x
15         Hurricane (Typhoon)    Hurricane                          x
16                 Debris Flow  Rain/Floods                          x
17              Winter Weather       Winter                          x
18            Lake-Effect Snow       Winter                          x
19            Storm Surge/Tide    Hurricane                          x
20               Coastal Flood    Hurricane                          x
21                    Blizzard       Winter                          x
22             Lakeshore Flood  Rain/Floods                          x
23                   Dense Fog          Fog                          x
24     Extreme Cold/Wind Chill       Winter                          x
25                  Dust Storm  Strong Wind                          x
26                   High Surf    Hurricane                          x
27         Tropical Depression    Hurricane                          x
28                  Waterspout      Tornado                          x
29             Cold/Wind Chill       Winter                          x
30                       Sleet       Winter                          x
31    Marine Thunderstorm Wind  Strong Wind                          x
32                Frost/Freeze       Winter                          x
33                     Tsunami      Tsunami                          x
34              Excessive Heat         Heat                          x
35                   Avalanche         Heat                          x
36          Marine Strong Wind  Strong Wind                          x
37                  Dust Devil  Strong Wind                          x
38                     Drought         Heat                          x
39                Freezing Fog       Winter                          x
40                        Heat         Heat                          x
41            Marine High Wind  Strong Wind                          x
42    Marine Hurricane/Typhoon    Hurricane                          x
43                      Seiche          NaN                        NaN
44                 Dense Smoke         Fire                          x
45                 Sneakerwave          NaN                        NaN
46                 Rip Current          NaN                        NaN
47                Funnel Cloud          NaN                          x
48            Marine Dense Fog          NaN                        NaN
49                 Marine Hail          NaN                        NaN
50       Astronomical Low Tide          NaN                        NaN
51            Marine Lightning          NaN                        NaN
52             Northern Lights          NaN                        NaN
53       Marine Tropical Storm          NaN                        NaN
54  Marine Tropical Depression          NaN                        NaN
55                Volcanic Ash          NaN                        NaN
56            Volcanic Ashfall          NaN                        NaN

In [19]:
df_events_type.sort_values('ev_type_grp')

                    event_type  ev_type_grp possibly linked to climate
44                 Dense Smoke         Fire                          x
7                     Wildfire         Fire                          x
23                   Dense Fog          Fog                          x
4                         Hail         Hail                          x
40                        Heat         Heat                          x
38                     Drought         Heat                          x
34              Excessive Heat         Heat                          x
35                   Avalanche         Heat                          x
42    Marine Hurricane/Typhoon    Hurricane                          x
20               Coastal Flood    Hurricane                          x
19            Storm Surge/Tide    Hurricane                          x
15         Hurricane (Typhoon)    Hurricane                          x
26                   High Surf    Hurricane                          x
11                   Hurricane    Hurricane                          x
10              Tropical Storm    Hurricane                          x
27         Tropical Depression    Hurricane                          x
5                    Lightning    Lightning                          x
14                  Heavy Rain  Rain/Floods                          x
16                 Debris Flow  Rain/Floods                          x
3                        Flood  Rain/Floods                          x
22             Lakeshore Flood  Rain/Floods                          x
1                  Flash Flood  Rain/Floods                          x
37                  Dust Devil  Strong Wind                          x
31    Marine Thunderstorm Wind  Strong Wind                          x
41            Marine High Wind  Strong Wind                          x
36          Marine Strong Wind  Strong Wind                          x
0            Thunderstorm Wind  Strong Wind                          x
6                    High Wind  Strong Wind                          x
9                  Strong Wind  Strong Wind                          x
25                  Dust Storm  Strong Wind                          x
28                  Waterspout      Tornado                          x
2                      Tornado      Tornado                          x
33                     Tsunami      Tsunami                          x
24     Extreme Cold/Wind Chill       Winter                          x
39                Freezing Fog       Winter                          x
8                 Winter Storm       Winter                          x
13                   Ice Storm       Winter                          x
17              Winter Weather       Winter                          x
32                Frost/Freeze       Winter                          x
18            Lake-Effect Snow       Winter                          x
30                       Sleet       Winter                          x
29             Cold/Wind Chill       Winter                          x
12                  Heavy Snow       Winter                          x
21                    Blizzard       Winter                          x
43                      Seiche          NaN                        NaN
45                 Sneakerwave          NaN                        NaN
46                 Rip Current          NaN                        NaN
47                Funnel Cloud          NaN                          x
48            Marine Dense Fog          NaN                        NaN
49                 Marine Hail          NaN                        NaN
50       Astronomical Low Tide          NaN                        NaN
51            Marine Lightning          NaN                        NaN
52             Northern Lights          NaN                        NaN
53       Marine Tropical Storm          NaN                        NaN
54  Marine Tropical Depression          NaN                        NaN
55                Volcanic Ash          NaN                        NaN
56            Volcanic Ashfall          NaN                        NaN

In [20]:
df_2000_2021 = pd.merge(df_2000_2021, df_events_type, on='event_type', how='left')

In [21]:
df_2000_2021.head()

,year,month,day,state,event_type,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property,date,ev_type_grp,possibly linked to climate
0,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31,Winter,x
1,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31,Winter,x
2,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,0,0,0,0,0.0,2000-12-31,Winter,x
3,2000,12,13,WEST VIRGINIA,Winter Storm,0,0,0,0,0.0,2000-12-13,Winter,x
4,2000,8,3,MISSISSIPPI,Thunderstorm Wind,0,0,0,0,3500.0,2000-08-03,Strong Wind,x

Remove entries that are not in our designed groups and are not related to climate

In [22]:
df_2000_2021 = df_2000_2021[~df_2000_2021.ev_type_grp.isna()]
df_2000_2021 = df_2000_2021[df_2000_2021['possibly linked to climate'] == 'x']

In [23]:
df_2000_2021_final = df_2000_2021[['date','year','month','day','state','event_type','ev_type_grp','injuries_direct','injuries_indirect','deaths_direct','deaths_indirect','damage_property']]
df_2000_2021_final.dtypes

date                 datetime64[ns]
year                          int64
month                         int64
day                           int64
state                        object
event_type                   object
ev_type_grp                  object
injuries_direct               int64
injuries_indirect             int64
deaths_direct                 int64
deaths_indirect               int64
damage_property             float64
dtype: object

In [24]:
df_2000_2021_final.head(10)

,date,year,month,day,state,event_type,ev_type_grp,injuries_direct,injuries_indirect,deaths_direct,deaths_indirect,damage_property
0,2000-12-31,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,Winter,0,0,0,0,0.0
1,2000-12-31,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,Winter,0,0,0,0,0.0
2,2000-12-31,2000,12,31,FLORIDA,Extreme Cold/Wind Chill,Winter,0,0,0,0,0.0
3,2000-12-13,2000,12,13,WEST VIRGINIA,Winter Storm,Winter,0,0,0,0,0.0
4,2000-08-03,2000,8,3,MISSISSIPPI,Thunderstorm Wind,Strong Wind,0,0,0,0,3500.0
5,2000-08-09,2000,8,9,MISSISSIPPI,Thunderstorm Wind,Strong Wind,0,0,0,0,3500.0
6,2000-08-09,2000,8,9,MISSISSIPPI,Thunderstorm Wind,Strong Wind,0,0,0,0,1750.0
7,2000-01-21,2000,1,21,MAINE,Blizzard,Winter,0,0,0,0,0.0
8,2000-01-21,2000,1,21,MAINE,Blizzard,Winter,0,0,0,0,0.0
9,2000-01-16,2000,1,16,MAINE,Winter Storm,Winter,0,0,0,0,0.0

In [25]:
df_2000_2021_final.to_csv('df_NOAA_2000_2021.csv')